h1{
    color: white;
}

ul li{
    color: #00f;
}

aside{
    float: left;
    width: 30%;
    clear: both;
}

section{
    float: left;
    width: 70%;
}

nav ul{
    padding: 4%;
}

nav ul li{
    display: inline;
}
